.statistics {
  width: 300px;
  margin: 40px auto;
  padding-top: 20px;
  border-radius: 10px;
  background-color: rgb(235, 235, 235);
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0px 0px 10px 0px;
}

.stat_list {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
}

.item {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.percentage {
  font-size: 18px;
  font-weight: 700;
}
